@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/* Css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

.wrapper-div {
  position: relative;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none !important;
}

.chart-container {
  margin: auto;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

#chart {
  height: 400px;
  margin-top: -30px;
  width: 100%;
}

.custom-legend {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.legend-item {
  background: #fff;
  border-radius: 1.25rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: #222;
  transition: all 0.2s ease-in-out;
}

.legend-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.legend-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

/* Tooltip override */
.highcharts-tooltip {
  filter: drop-shadow(0 6px 15px rgba(0, 0, 0, 0.12));
  border-radius: 14px !important;
}
.search-button {
  padding: 8px 16px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #ffffff;
  border-top: 0.833333px solid #e5e7eb;
  box-sizing: border-box;
  padding: 16px 24px;
}

.sidebar-top {
  align-items: center;
  border-bottom: 0.833333px solid #e5e7eb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1;
}

#sidebar {
  border-right: 0.833333px solid #e5e7eb;
}

header {
  border-bottom: 0.833333px solid #e5e7eb;
}
main {
  overflow: hidden;
}
.sidebar-item.active {
  align-items: center;
  background-color: #2563eb1a;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item:hover {
  background-color: #2563eb1a;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.2s;
  white-space: nowrap;
}

.w-\[70px\] .sidebar-item {
  justify-content: center;
}

.w-\[70px\] .sidebar-item i {
  font-size: 24px;
}

.flex-card:hover {
  align-items: center;
  background-color: #ffffff;
  border: 0.833333px solid #2563eb80;
  border-radius: 8px;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 3px 0px, #0000001a 0px 1px 2px -1px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 24px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.left-card {
  animation-duration: 0.2s;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #0000001a 0px 10px 15px -3px, #0000001a 0px 4px 6px -4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 32px;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.left-cards {
  animation-duration: 0.2s;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 0;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.main-div {
  background-color: #ffffff;
  border: 0.8px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #0000000d 0px 1px 2px 0px;
  box-sizing: border-box;
  padding: 24px;
}

.text-style {
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-family: "JetBrains Mono", system-ui, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 15px;
  text-transform: uppercase;
}
.text-fonts {
  font-family: "JetBrains Mono", system-ui, sans-serif !important;
}

.date-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.date-wrapper {
  max-width: 160px !important;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.input-fav {
  box-sizing: border-box;
  color: #6b7280;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 24px;
  align-items: center;
  max-width: 160px !important;
  appearance: button;
  background-color: #fff;
  border: 0.8px solid #e2e8f0;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  padding: 8px 16px;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-fav:focus {
  border: 0.8px solid #e2e8f0;
  outline: none;
  background-color: #f1f5f9;
}

.dashboard-container {
  background-color: #ffffff;
  border: 0.8px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #0000000d 0px 1px 2px 0px;
  box-sizing: border-box;
  padding: 24px;
}

.scrollable-legend {
  max-width: 600px;
  overflow-y: hidden;
  overflow-x: auto;
}

.dash-bordee {
  border: 0.8px solid #e5e7eb;
}

#failureBarCharts {
  margin: 0 !important;
}

@media (max-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: -270px;
    height: 100%;
    z-index: 50;

    transition: left 0.3s ease;
  }
  .date-wrapper {
    max-width: 100% !important;
  }

  #sidebar.open {
    left: 0;
  }
  .chart-container {
    padding: 0 !important;
  }
  .dashboard-container {
    padding: 8px !important;
  }
  .main-div {
    padding: 8px 8px !important;
  }
  .date-wrapper {
    flex: none;
  }
  .input-fav {
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .chart-container {
    padding: 1rem;
    border-radius: 1rem;
  }

  .legend-item {
    font-size: 12px;
    padding: 10px 16px;
  }

  #chart {
    height: 300px;
  }

  #barChartContainer {
    height: 280px;
  }
  .time-period-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 !important;
  }

  .date-inputs {
    flex-direction: column;
    width: 100%;
  }

  .date-wrapper {
    width: 100%;
    max-width: 100%;
  }

  #search-btn {
    width: 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.75;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}

@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(40px, 40px);
  }
}
